@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap");
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Comfortaa", cursive;
  margin: 0;
  transition: 0.5s all;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}
.container {
  border: 2px solid black;
  border-radius: 10px;
  height: 951px;
  width: 441px;
  margin: 100px;
  padding: 50px;
}
.img {
  height: 30px;
  width: 30px;
}
.round {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 200px;
  gap: 10px;
   margin-top: 100px;
}
.round1 {
  border: 7px solid;
  border-radius: 10px;

}
.round2 {
  border: 4px solid black;
  border-radius: 10px;
    color: yellow;
}
.round3 {
  border: 4px solid black;
  border-radius: 10px;
}
h1 {
  margin-top: 50px;
}
p {
  margin-top: 20px;
  text-align: center;
}


button {
  height: 50px;
  width: 100px;
  background-color: rgb(253, 203, 4);
  border-radius: 20px;
   color:rgb(255, 255, 255);
}
